TAPAK_DATABASE_PATH=./runtime/tapak.db
TAPAK_ENV=development
TAPAK_LOG_LEVEL=info
TAPAK_JWT_SECRET=replace-with-at-least-32-random-characters
TAPAK_OPERATOR_PASSWORD=replace-with-a-local-operator-password
TAPAK_COURIER_PASSWORD=replace-with-a-local-courier-password
TAPAK_API_PORT=4100
TAPAK_WEB_ORIGIN=http://127.0.0.1:4173
TAPAK_MOBILE_WEB_ORIGIN=http://127.0.0.1:4174
VITE_TAPAK_API_URL=http://127.0.0.1:4100
EXPO_PUBLIC_TAPAK_API_URL=http://YOUR_LAN_IP:4100
